<!-- Importación de ficheros y estilos-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<!-- Bootstrap core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../css/blog-post.css" rel="stylesheet">


<dom-module id="my-index">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>



<!-- Botón de cierre de cesión, estará oculto si no se está logeado  (login = false ==> hidden =true)-->

    <div align="right" hidden$={{!login}}>
        <button type="button" name="button" on-tap="salir" class="btn btn-primary">Cerrar sesión</button>
    </div>




<!-- Se incluyen dos link, "siguiente" y "Atrás" que llaman a las funciones "incrementar" y "decrementar"
respectivamente, las cuales aumentan/disminuyen en 1 una variable sessionStorage "contador" y una variable
local con el mismo valor-->

    <nav aria-label="...">
      <ul class="pager">
        <li class="previous"><a href="#"><div on-tap="decrementar"><span aria-hidden="true">&larr;</span> Atrás </div></a></li>
        <li class="next"><a href="#"> <div on-tap="incrementar">Siguiente <span aria-hidden="true">&rarr;</span></div></a></li>
      </ul>
    </nav>

<!-- Botón que tras pulsarlo abre un díalogo para incluir un nuevo post/entrada en el blog-->
<!-- PENDIENTE -->
    <div hidden$={{!login}}>
      <div hidden$={{!muestrapostear}}>
        <button type="button" name="button" on-tap="postear" class="btn btn-primary">Nuevo Post</button>
      </div>
    </div>
    <!-- Formulario para postear -->

    <form hidden$={{muestrapostear}}>
      <div class="form-group">
        <label for="titulo">Introduzca un título para su post</label>
        <input type="text" class="form-control" id="titulopost" placeholder="Título de la entrada" value="{{titulo::input}}"></input>
      </div>
      <div class="form-group">
        <label for="titulo">Link de la imagen si lo desea </label>
        <input type="text" class="form-control" id="imagenpost" placeholder="Link de la imagen" value="{{imagen::input}}"></input>
      </div>
      <div class="form-group">
          <textarea input placeholder="Introduzca su entrada en el blog" cols=2 style="border:none;" id="textopost" value="{{texto::input}}"></textarea>
      </div>
  <button type="submit" class="btn btn-default" on-tap="savePost">Publicar</button>
</form>


<!-- Mensaje con link al díalogo de logeo/registro. Sólo se muestra cuando no se está logeado (login=False ==> hidden= false)-->
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">
      <div hidden$={{login}}>
        <h4>Para comentar las entradas o ver los comentarios, debes <a href="login"> logearte </a></h4>
      </div>
    </div>
  </div>
</div>


<!-- Módulo que muestra los post/entradas del blog -->


        <tbody id="tablePost" >

            <template is="dom-repeat" items="{{posts}}">

              <div class="container">
                <div class="row">
                  <!-- Post Content Column -->
                  <div class="col-lg-8">

                    <div is="dom-repeat" items="{{posts}}">
                    <!-- Title -->
                    <h1 class="mt-4">[[item.titulo]]</h1>
                    <!-- Author -->
                    <p class="lead">
                      by [[item.autor.nombre]]
                    </p>
                    <hr>
                    <!-- Date/Time -->
                    <p>Posted on [[item.fecha]] </p>
                    <hr>

                    <!-- Preview Image -->

                    <img class="img-thumbnail rounded" src="[[item.imagen]]" >



                    <hr>
                    <!-- Post Content -->
                    <p class="lead"> [[item.texto]]

                      <p></p>


                    <div hidden$={{!login}} class="card my-4">
                      <h5 class="card-header">Deja un comentario:</h5>
                      <div class="card-body">
                        <form>
                          <div class="form-group">
                            <textarea id="textopost" value="{{ctexto::input}}" class="form-control" rows="3" placeholder="Introduzca su comentario aquí..."></textarea>


                          </div>
                          <button type="submit" class="btn btn-primary" on-tap="comentarPost">Comentar</button>
                        </form>
                      </div>
                    </div>


                  </div>


                <div hidden$={{!login}}>
                  <button type="button" class="btn btn-link" on-tap="buscaComentarios">Mostrar Comentarios</button>


                  <template is="dom-repeat" items="{{comentarios}}">

                  <div class="media mt-4">
                    <div class="media-body">
                      <div class="circle">[[index]]</div>
                      <h5 class="mt-1">By [[item.autor.nombre]] [[item.fecha]]</h5>
                      <h6>[[item.texto]]</h6>

                      <!--"autor" :{
                        "nombre" : "anonimo" ,
                        "apellido" : "anonimo" ,
                        "email" : "email@bb.es"} ,
                        "fecha" : "" ,
                        "texto" : "este es mi primer comentario de anonimo"} ]-->

                    </div>
                  </div>
                </div>


            </template>
            </template>
            </div>




          </div>

          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>


        </tbody>


    <!--div hidden$={{login}} > Para comentar las entradas debes <a href="login"> logearte </a></div-->


  </template>



  <script>

  const URL_BASE_LOGIN = "http://restapi-blogpol12.7e14.starter-us-west-2.openshiftapps.com/usuarios_angela";
  const TOKEN2 = "?eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5nZWxhIn0.r2X3Stf1V6cfFsj3pX5z3pQBZzHZ6Re5Gl1QYUNk0iY";
  const TOKEN_limpio = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5nZWxhIn0.r2X3Stf1V6cfFsj3pX5z3pQBZzHZ6Re5Gl1QYUNk0iY";

  const URL_BASE = "https://api.mlab.com/api/1/databases/angela_mongodb/collections/posts";
  const URL_BASE_C = "https://api.mlab.com/api/1/databases/angela_mongodb/collections/comentarios";
  const TOKEN = "?apiKey=dvi5e-mBiwFc7TIPRfAoNqZvcLm2L743";

    Polymer({
      is: 'my-index',
      properties: {
        contador: {
          type: Number,
          value: 0
        },
        posts: {
          type: Array,
          notify: true
        },
        comentarios: {
          type: Array,
          notify: true
        },
        disable: {
            type: Boolean,
            value: true
        },
        login:{
          type: Boolean,
          value: false
        },
        muestracomentarios:{
          type: Boolean,
          value: true
        },
        muestrapostear:{
          type:Boolean,
          value: true
        },
        email:{
          type: String,
          notify:true
        },
        usuario:{
          type: String,
          notify:true
        },
        imagen:{
          type: String,
          notify:true
        },
        fecha:{
          type: Date,
          notify:true
        },
        ctexto:{
          type: String,
          notify:true
        }


      },
      listeners: {

      },


      // Función ready que recoge la variable logeado a true cuando el usuarios
      // se ha logeado correctamente.
      ready:function(){
        var logeado = sessionStorage.getItem("logeado");
        console.log("estamos en ready logeados: " + logeado + " y con login= " + this.login);
        if (logeado == "true"){
          console.log("estamos en ready logeados: " + logeado);
          this.login="true";
        }

        var request = new XMLHttpRequest();
        console.log("valor para entrada: "+sessionStorage.getItem("entrada"));
        if (!sessionStorage.getItem("entrada")){
          sessionStorage.setItem("entrada",0);
        }
        var urlpost = URL_BASE+"?sk="+sessionStorage.getItem("entrada")+"&l=1&apiKey=dvi5e-mBiwFc7TIPRfAoNqZvcLm2L743";

        request.open("GET", urlpost, false);
        //request.open("GET", URL_BASE+TOKEN, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        this.posts=JSON.parse(request.responseText);

        this.disable=false;
        sessionStorage.setItem("indice",this.index);
        this.email  = sessionStorage.getItem("email");
        this.usuario = sessionStorage.getItem("usuario");
        this.fecha = new Date();


      },

      // Función para cerrar la sesión de usuario.
      salir:function(){
        this.login = "false";
        sessionStorage.setItem("logeado", false);
        //removeItem  para limpiar
        sessionStorage.removeItem("email");
        sessionStorage.removeItem("usuario");
        sessionStorage.removeItem("fecha");
        console.log("cerramos cesion");
        sessionStorage.removeItem("admin");
        window.location.reload(true);
      },

      anadirtexto: function(){
        disable = "false";
      },
      listPosts: function(e) {
        var request = new XMLHttpRequest();

        var urlpost = URL_BASE+"?sk="+sessionStorage.getItem("entrada")+"&l=1&apiKey=dvi5e-mBiwFc7TIPRfAoNqZvcLm2L743";

        request.open("GET", urlpost, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        this.posts=JSON.parse(request.responseText);
        this.disable=false;
      },

      savePost: function () {
         var pet_savelog = new XMLHttpRequest();
         pet_savelog.open("POST", URL_BASE+TOKEN, false);
         pet_savelog.setRequestHeader("Content-Type", "application/json");
         var grabar = JSON.stringify({"titulo": this.titulo, "imagen": this.imagen,
          "texto": this.texto, "autor":{"nombre": this.usuario, "email": this.email, },"fecha": this.fecha});
         pet_savelog.send(grabar);
         console.log("título", this.titulo);
         console.log("texto", this.texto);
         console.log("usuario", this.usuario);
         console.log("email", this.email);
         console.log("fecha", this.fecha);
         console.log(pet_savelog.responseText);
         if(pet_savelog.status == 200) {
           alert("Se ha guardado correctamente");
         } else {
            alert("Se ha producido algún error guardado la información");
         }
      },

      muestraid: function(e){
        console.log("este es el item: " + e.model.get("item._id.$oid"));
        muestracomentarios = false;
      },

      buscaComentarios: function(e){
        var pet_comentarios = new XMLHttpRequest();
        var urlcomentarios = URL_BASE_C + "?q={'idpost': '"+e.model.get("item._id.$oid")+ "'}&apiKey=dvi5e-mBiwFc7TIPRfAoNqZvcLm2L743";
        console.log(urlcomentarios);
        pet_comentarios.open("GET", urlcomentarios, false);
        pet_comentarios.setRequestHeader("Content-Type", "application/json");
        pet_comentarios.send();

        this.comentarios=JSON.parse(pet_comentarios.responseText);
        if(pet_comentarios.status == 200) {
          alert("Se recuperan los comentarios");
          console.log(e.model.get("item._id.$oid"));
          console.log(this.comentarios);
        } else {
           alert("No hay comentarios para esa entrada");
        }

      },
      incrementar: function() {
          this.contador = sessionStorage.getItem("entrada");
          this.contador = ++this.contador;
          sessionStorage.setItem("entrada", this.contador);
          window.location.reload(true);
      },

      decrementar: function() {
          if(this.contador>0){
          this.contador = sessionStorage.getItem("entrada");
          this.contador = --this.contador;

        }

         sessionStorage.setItem("entrada", this.contador);
         window.location.reload(true);
      },

      postear: function(){
        this.muestrapostear = !this.muestrapostear;
      },

      comentarPost: function (e) {
         var pet_comentarlog = new XMLHttpRequest();
         pet_comentarlog.open("POST", URL_BASE_C+TOKEN, false);
         pet_comentarlog.setRequestHeader("Content-Type", "application/json");
         var grabar = JSON.stringify({"idpost": e.model.get("item._id.$oid"),
         "autor":{"nombre": this.usuario, "email": this.email, },"fecha": this.fecha,
          "texto": this.ctexto});
         pet_comentarlog.send(grabar);
         console.log("id", e.model.get("item._id.$oid"));
         console.log("texto", this.texto);
         console.log("usuario", this.usuario);
         console.log("email", this.email);
         console.log(pet_comentarlog.responseText);
         if(pet_comentarlog.status == 200) {
           alert("Se ha guardado correctamente");
         } else {
            alert("Se ha producido algún error guardado la información");
         }
      },



    });

    </script>


</dom-module>
