<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<!-- Latest compiled and minified CSS -->

<!--<link rel="style" href="../node_modules/bootstrap/dist/css/bootstrap.css">-->
<!--<script src="../node_modules/bootstrap/dist/js/bootstrap.js"> -->

<dom-module id="my-login">
  <template>
  <!--iron-sessionstorage name="prueba" value="{{logeado}}"></iron-sessionstorage-->


  <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }
    </style>


    <div class="card">


        <div class="container">

          <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-8">
              <div hidden$={{inicio}}>
              <h1 class="mt-4">LOGIN</h1>
              <hr>

            <p></p>
<!-- Parte para logearte-->
        <p></p>
        <p> Si tienes usuario registrado, introduce tu usuario (email)
          y contraseña a continuación</p>
          <table>
            <thead>
              <tr>
                <th>
                <div class="group">
                  <label>Usuario (email) </label>
                </div>
              </th>
              <th>
                <div class="group">
                  <label>Password </label>
                </div>
              </th>
            </tr>
          </thead>
          <tr>
            <th>
              <!--style>
                iron-input[invalid] > input {
                  border: 1px solid blue;
                  background-color: #FFCDD2;
                }
              </style-->
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <iron-input type="text" value="{{email::input}}" required>
                  <input placeholder="Introduzca su usuario (email)">
                </iron-input>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
            </th>

            <th>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">***</span>
              <iron-input type="password" value="{{password::input}}" required>
                <input type="password" placeholder="Introduzca su contraseña">
              </iron-input>
              <span class="highlight"></span>
              <span class="bar"></span>
              </div>
            </th>
            <th>
              <div><button type="button" name="button" on-tap="login" class="btn btn-primary">Login</button></div>
            </th>
          </tr>
      </table>
<p></p>
<p></p>
      <div hidden$={{errorlogin}} class="alert alert-danger" role="alert">El usuario introducido o la password no es correcto. Vuelva a intentarlo o <a href="login" on-tap="registro">registrese</a></div>

      <div>

        <hr>
        <p></p>
        <p hidden$={{!errorlogin}}> Si no está registrado, pulse <a href="login" on-tap="registro">aquí </a></p>
      </div>
    </div>



      <p></p>
      <p></p>

      <!-- Código para registrarse si no está logeado -->

  <div hidden$={{!inicio}}>
      <h1 class="mt-4">REGISTRO</h1>
      <hr>
      <p></p>
<!-- Parte para REGISTRARSE-->
      <p> Introduzca los siguientes datos y de clic en 'Registrar':</p>

        <table>
            <thead>
              <tr>
                <div class="group">
                  <th align="left">
                  <label>Introduce tu usuario</label>
                  </th>
                  <th>
                  <iron-input type="text" value="{{usuario::input}}" required>
                    <input placeholder="Introduzca su usuario">
                  </iron-input>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <p></p>
                  <p></p>
                  </th>
                </div>
              </tr>

              <tr>
                <div class="group">
                  <th align="left">
                  <label>Introduce tu email</label>
                  </th>
                  <th>
                  <iron-input type="text" value="{{email::input}}" required>
                    <input placeholder="Introduzca su email">
                  </iron-input>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <p></p>
                  <p></p>
                </th>
                </div>

              </tr>
              <tr>
                <div class="group">
                  <th align="left">
                  <label>Introduce tu password</label>
                  </th>
                  <th>
                  <iron-input type="password" value="{{password::input}}" required >
                    <input type="password" placeholder="Introduzca su password">
                  </iron-input>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <p></p>
                  <p></p>
                  </th>
                </div>
              </tr>
          </thead>
          </table>

          <hr>

          <div>
            <button type="button" name="button" on-tap="saveUsuario" class="btn btn-primary">Registrarse</button>
            <button  type="button" name="button" on-tap="finicio" class="btn btn-primary">Volver atrás</div></button>
          </div>
          <p></p>
          <p></p>


<hr>
      <div align="right">
          <button type="button" name="button" on-tap="irindex" class="btn btn-primary">Volver inicio</button>
      </div>
    </div>
  </div>
</div>

  </template>





  <script>
    /*const URL_BASE_LOGIN = "http://restapi-blogpol12.7e14.starter-us-west-2.openshiftapps.com/usuarios_angela";
    const TOKEN2 = "?eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5nZWxhIn0.r2X3Stf1V6cfFsj3pX5z3pQBZzHZ6Re5Gl1QYUNk0iY";
    const TOKEN_limpio = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5nZWxhIn0.r2X3Stf1V6cfFsj3pX5z3pQBZzHZ6Re5Gl1QYUNk0iY";
    const BARRA2 = "/";*/

    Polymer({
      is: 'my-login',
      properties: {
        id: {
          type: Number,
          notify: true
        },
        usuarios: {
          type: Array,
          notify: true
        },
        email: String,
        password: String,
        disable: {
            type: Boolean,
            value: true
        },
        admin: {
            type: Boolean,
            value: false
        },
        logeado: {
            type: Boolean,
            value: false
        },
        inicio:{
            type: Boolean,
            value: false
        },
        errorlogin:{
          type: Boolean,
          value: true
        }

      },
      listeners: {

      },


      login: function(e){
        var pet_login = new XMLHttpRequest();

        var url = URL_BASE_LOGIN + "?select=id,usuario,email,password&&email=eq." + this.email + "&&password=eq." + this.password;
        console.log(url);
        pet_login.open("GET", url, false);
        pet_login.setRequestHeader("Content-Type", "application/json");
        pet_login.setRequestHeader("Accept", "application/vnd.pgrst.object+json");
        pet_login.setRequestHeader("Access-Control-Allow-Origin", "*");
        pet_login.setRequestHeader("Authorization", "Bearer " +TOKEN_limpio);
        pet_login.send();

        console.log(pet_login.responseText);
        console.log(pet_login.status);

        this.usuarios=JSON.parse(pet_login.responseText);
        if(pet_login.status == 200) {
          alert("Se ha logeado correctamente");
          sessionStorage.setItem("logeado", "true");
          sessionStorage.setItem("email", this.email);
          sessionStorage.setItem("usuario", this.usuarios.usuario);
          sessionStorage.setItem("fecha", Date());
          window.location.assign("?");
          this.errorlogin =true;
          if(this.email == "admin")
            sessionStorage.setItem("admin", "true");
        } else {
          this.errorlogin = false;
           alert("Usuario o contraseña no válidos. Vuelva a intentar logearse o registrese");
        }
      },



      saveUsuario: function () {
         var pet_save = new XMLHttpRequest();
         pet_save.open("POST", URL_BASE_LOGIN, false);

         pet_save.setRequestHeader("Content-Type", "application/json");
         pet_save.setRequestHeader("Accept", "application/vnd.pgrst.object+json");
         pet_save.setRequestHeader("Access-Control-Allow-Origin", "*");
         pet_save.setRequestHeader("Authorization", "Bearer " +TOKEN_limpio);


         var grabar = JSON.stringify({"usuario": this.usuario,"email": this.email, "password": this.password});
         pet_save.send(grabar);
         console.log(pet_save.responseText);
         console.log(pet_save.status);
         if(pet_save.status == 200 || pet_save.status == 201) {
           alert("Se ha guardado correctamente");
         } else {
            alert("Se ha producido algún error guardado la información");
         }
      },

      registro: function(e) {
        this.inicio=true;
      },
      finicio: function(e) {
        this.inicio=false;
        this.errorlogin =true;
      },
      irindex: function(){
        window.location.href='?'
      }

    });

    //window.onload = function () {
    //  console.log(typeof ElementOne); // undefined
    //};
  </script>
</dom-module>
